img{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
.default-btn{
  width: 120px;
  margin: 15px;
}
.flex-col{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ln > h1 {
  margin-top: 20%;
  text-align: center;
  margin-right: 5%;
  margin-left: 5%;
  color: white;
  text-shadow: 1.2px 0.7px grey;
}
.ln > p{
  margin-top: 30%;
  margin-right: 5%;
  margin-left: 5%;
  color: white;
  text-align: center;
}
.react-icons {
  margin-right: 7px;
}
