#s{
  position: fixed;
  overflow: hidden;
  width: 70%;
  height: 100%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#s > div {
  position: absolute;
  align-items: center;
  justify-content: center;
}

#s > div > div {
  padding: 5px;
  background-color: white;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 330px;
  height: 400px;
  will-change: transform;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(50, 50, 73, 0.4),
    0 10px 10px -10px rgba(50, 50, 73, 0.3);
}
.card {
  height: 100%;
  overflow: auto;
}
.fit{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.carousel-indicators li{
  display: flex;
  justify-content: space-between;
  top: 0;
  position: fixed;
  width: 90%;
}
.right.carousel-control, .left.carousel-control li{
    display: none;
}
